{
    "openapi": "3.0.0",
    "info": {
        "title": "Crypto Bot API",
        "description": "API para gerenciamento de portfólios de criptomoedas, estratégias de trading e alertas",
        "contact": {
            "name": "Suporte Crypto Bot",
            "email": "support@cryptobot.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/v1/alerts": {
            "get": {
                "tags": [
                    "Alerts"
                ],
                "summary": "Listar alertas",
                "description": "Listar todos os alertas do usuário autenticado.",
                "operationId": "9b0d3c8dafcdf1d483cfd0fc94c4253b",
                "parameters": [
                    {
                        "name": "portfolio_id",
                        "in": "query",
                        "description": "ID do portfólio para filtrar alertas",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "asset_id",
                        "in": "query",
                        "description": "ID do ativo para filtrar alertas",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Tipo de alerta (price, volume, technical)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "price",
                                "volume",
                                "technical"
                            ]
                        }
                    },
                    {
                        "name": "is_active",
                        "in": "query",
                        "description": "Filtrar por alertas ativos",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de alertas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "portfolio_id": {
                                                "type": "integer"
                                            },
                                            "asset_id": {
                                                "type": "integer"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "condition": {
                                                "type": "string"
                                            },
                                            "value": {
                                                "type": "number"
                                            },
                                            "is_active": {
                                                "type": "boolean"
                                            },
                                            "last_triggered": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "updated_at": {
                                                "type": "string",
                                                "format": "date-time"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Alerts"
                ],
                "summary": "Criar alerta",
                "description": "Criar um novo alerta para um portfólio ou ativo do usuário autenticado.",
                "operationId": "7640e6ae7c632acc3067c5f938bdfaea",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "portfolio_id",
                                    "type",
                                    "condition",
                                    "value"
                                ],
                                "properties": {
                                    "portfolio_id": {
                                        "type": "integer"
                                    },
                                    "asset_id": {
                                        "type": "integer"
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "price",
                                            "volume",
                                            "technical"
                                        ]
                                    },
                                    "condition": {
                                        "type": "string",
                                        "enum": [
                                            "above",
                                            "below",
                                            "equals"
                                        ]
                                    },
                                    "value": {
                                        "type": "number"
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "notification_channels": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "cooldown_minutes": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Alerta criado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "portfolio_id": {
                                            "type": "integer"
                                        },
                                        "asset_id": {
                                            "type": "integer"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "condition": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "number"
                                        },
                                        "is_active": {
                                            "type": "boolean"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação"
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/alerts/{id}": {
            "get": {
                "tags": [
                    "Alerts"
                ],
                "summary": "Exibir alerta",
                "description": "Exibir um alerta específico do usuário autenticado.",
                "operationId": "1e3bf66c0d7eb1c19c1d9c03864beb1f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do alerta",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalhes do alerta",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "portfolio_id": {
                                            "type": "integer"
                                        },
                                        "asset_id": {
                                            "type": "integer"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "condition": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "number"
                                        },
                                        "is_active": {
                                            "type": "boolean"
                                        },
                                        "last_triggered": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Alerta não encontrado"
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Alerts"
                ],
                "summary": "Atualizar alerta",
                "description": "Atualizar um alerta do usuário autenticado.",
                "operationId": "2bf29e0b0e768ae90342eb04b96fae97",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do alerta",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "price",
                                            "volume",
                                            "technical"
                                        ]
                                    },
                                    "condition": {
                                        "type": "string",
                                        "enum": [
                                            "above",
                                            "below",
                                            "equals"
                                        ]
                                    },
                                    "value": {
                                        "type": "number"
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "notification_channels": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "cooldown_minutes": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Alerta atualizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "portfolio_id": {
                                            "type": "integer"
                                        },
                                        "asset_id": {
                                            "type": "integer"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "condition": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "number"
                                        },
                                        "is_active": {
                                            "type": "boolean"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Alerta não encontrado"
                    },
                    "422": {
                        "description": "Erro de validação"
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Alerts"
                ],
                "summary": "Remover alerta",
                "description": "Remover um alerta do usuário autenticado.",
                "operationId": "4184a36091073e7277225d98cebc503d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do alerta",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Alerta removido com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Alerta não encontrado"
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/exchanges": {
            "get": {
                "tags": [
                    "Exchanges"
                ],
                "summary": "Listar exchanges",
                "description": "Listar todas as exchanges do usuário autenticado.",
                "operationId": "b31e993848843cedcbc518d6ea3d9928",
                "parameters": [
                    {
                        "name": "portfolio_id",
                        "in": "query",
                        "description": "ID do portfólio para filtrar exchanges",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de exchanges",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "portfolio_id": {
                                                "type": "integer"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "spot",
                                                    "futures"
                                                ]
                                            },
                                            "is_active": {
                                                "type": "boolean"
                                            },
                                            "testnet": {
                                                "type": "boolean"
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "updated_at": {
                                                "type": "string",
                                                "format": "date-time"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Exchanges"
                ],
                "summary": "Criar exchange",
                "description": "Criar uma nova exchange para um portfólio do usuário autenticado.",
                "operationId": "c5b448efaa9cfbbd59038acb1c956354",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "portfolio_id",
                                    "name",
                                    "api_key",
                                    "api_secret",
                                    "type"
                                ],
                                "properties": {
                                    "portfolio_id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "api_key": {
                                        "type": "string"
                                    },
                                    "api_secret": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "spot",
                                            "futures"
                                        ]
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "testnet": {
                                        "type": "boolean"
                                    },
                                    "rate_limit": {
                                        "type": "integer"
                                    },
                                    "last_sync": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Exchange criada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "portfolio_id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "is_active": {
                                            "type": "boolean"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação"
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/exchanges/{id}": {
            "get": {
                "tags": [
                    "Exchanges"
                ],
                "summary": "Exibir exchange",
                "description": "Exibir uma exchange específica do usuário autenticado.",
                "operationId": "7c669903355b77d117f54233924b9b99",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da exchange",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalhes da exchange",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "portfolio_id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "is_active": {
                                            "type": "boolean"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Exchange não encontrada"
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Exchanges"
                ],
                "summary": "Atualizar exchange",
                "description": "Atualizar uma exchange do usuário autenticado.",
                "operationId": "5eaaec19be66169c581dac81db50f979",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da exchange",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "api_key": {
                                        "type": "string"
                                    },
                                    "api_secret": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "spot",
                                            "futures"
                                        ]
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "testnet": {
                                        "type": "boolean"
                                    },
                                    "rate_limit": {
                                        "type": "integer"
                                    },
                                    "last_sync": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exchange atualizada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "portfolio_id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "is_active": {
                                            "type": "boolean"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Exchange não encontrada"
                    },
                    "422": {
                        "description": "Erro de validação"
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Exchanges"
                ],
                "summary": "Remover exchange",
                "description": "Remover uma exchange do usuário autenticado.",
                "operationId": "0715960fc1a1c4846f05ccbc85623386",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da exchange",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exchange removida com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Exchange não encontrada"
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/strategies": {
            "get": {
                "tags": [
                    "Strategies"
                ],
                "summary": "Listar estratégias",
                "description": "Listar todas as estratégias de um portfólio do usuário autenticado.",
                "operationId": "0726c656ef9f7473f4a36f3bc5bae6c2",
                "parameters": [
                    {
                        "name": "portfolio_id",
                        "in": "query",
                        "description": "ID do portfólio para filtrar estratégias",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Tipo de estratégia (technical, fundamental, sentiment, hybrid)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "technical",
                                "fundamental",
                                "sentiment",
                                "hybrid"
                            ]
                        }
                    },
                    {
                        "name": "is_active",
                        "in": "query",
                        "description": "Filtrar por estratégias ativas",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de estratégias",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "portfolio_id": {
                                                "type": "integer"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "parameters": {
                                                "type": "object"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "is_active": {
                                                "type": "boolean"
                                            },
                                            "last_executed": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "updated_at": {
                                                "type": "string",
                                                "format": "date-time"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Strategies"
                ],
                "summary": "Criar estratégia",
                "description": "Criar uma nova estratégia em um portfólio do usuário autenticado.",
                "operationId": "2e150d271bbfa717051e211961563a3b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "portfolio_id",
                                    "name",
                                    "type",
                                    "parameters"
                                ],
                                "properties": {
                                    "portfolio_id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "technical",
                                            "fundamental",
                                            "sentiment",
                                            "hybrid"
                                        ]
                                    },
                                    "parameters": {
                                        "type": "object"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    },
                                    "schedule": {
                                        "type": "string"
                                    },
                                    "risk_level": {
                                        "type": "string",
                                        "enum": [
                                            "low",
                                            "medium",
                                            "high"
                                        ]
                                    },
                                    "max_positions": {
                                        "type": "integer"
                                    },
                                    "stop_loss": {
                                        "type": "number"
                                    },
                                    "take_profit": {
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Estratégia criada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "portfolio_id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "parameters": {
                                            "type": "object"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "is_active": {
                                            "type": "boolean"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação"
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/strategies/{id}": {
            "get": {
                "tags": [
                    "Strategies"
                ],
                "summary": "Exibir estratégia",
                "description": "Exibir uma estratégia específica de um portfólio do usuário autenticado.",
                "operationId": "c1a9875e053b4e6da6e5e44c55554049",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da estratégia",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalhes da estratégia",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "portfolio_id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "parameters": {
                                            "type": "object"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "is_active": {
                                            "type": "boolean"
                                        },
                                        "last_executed": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Estratégia não encontrada"
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Strategies"
                ],
                "summary": "Atualizar estratégia",
                "description": "Atualizar uma estratégia de um portfólio do usuário autenticado.",
                "operationId": "4c37395698db0cb2f204188493a03b0a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da estratégia",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "technical",
                                            "fundamental",
                                            "sentiment",
                                            "hybrid"
                                        ]
                                    },
                                    "parameters": {
                                        "type": "object"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    },
                                    "schedule": {
                                        "type": "string"
                                    },
                                    "risk_level": {
                                        "type": "string",
                                        "enum": [
                                            "low",
                                            "medium",
                                            "high"
                                        ]
                                    },
                                    "max_positions": {
                                        "type": "integer"
                                    },
                                    "stop_loss": {
                                        "type": "number"
                                    },
                                    "take_profit": {
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Estratégia atualizada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "portfolio_id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "parameters": {
                                            "type": "object"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "is_active": {
                                            "type": "boolean"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Estratégia não encontrada"
                    },
                    "422": {
                        "description": "Erro de validação"
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Strategies"
                ],
                "summary": "Remover estratégia",
                "description": "Remover uma estratégia de um portfólio do usuário autenticado.",
                "operationId": "bfab9b6f4be1de3a86ebb862c8dd75c9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da estratégia",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Estratégia removida com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Estratégia não encontrada"
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Alerts",
            "description": "API Endpoints para gerenciamento de alertas"
        },
        {
            "name": "Exchanges",
            "description": "API Endpoints para gerenciamento de exchanges"
        },
        {
            "name": "Strategies",
            "description": "API Endpoints para gerenciamento de estratégias"
        }
    ]
}